/service-course/node_modules
/service-course/public/build
/service-course/public/hot
/service-course/public/storage
/service-course/storage/*.key
/service-course/vendor
/service-course/.env
/service-course/.env.backup
/service-course/.phpunit.result.cache
/service-course/Homestead.json
/service-course/Homestead.yaml
/service-course/auth.json
/service-course/npm-debug.log
/service-course/yarn-error.log
/service-course/.idea
/service-course/.vscode

/api-gateway/node_modules
/service-media/node_modules
/service-user/node_modules